@charset "UTF-8";

body {
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(85, 84, 85));
}

.perfil {
    width: 600px;
    margin-left: 2px;
    border: 4px solid lightslategray;
    position: relative;
}

#foto {
    position: relative;
    left: 50%;
    transform: translatex(-50%);

}


h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    }

h3 {
    font-size: 30px;
    }

ul {
    list-style: none;
    position: relative;
    margin: 0px;
}

